<meta property="og:title" content="{{ site.title | default: site.github.repository_name }}">
<meta property="og:description" content="{{ site.description | default: site.github.project_tagline }}">
<meta property="og:image" content="{{ '/assets/social-preview.jpg' | absolute_url }}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:type" content="website">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ site.title | default: site.github.repository_name }}">
<meta name="twitter:description" content="{{ site.description | default: site.github.project_tagline }}">
<meta name="twitter:image" content="{{ '/assets/social-preview.jpg' | absolute_url }}">
